@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: var(--font-prompt);
    font-style: normal;
    scroll-behavior: smooth;
    transition: 0.3s;
  }
}

@layer components {
  .btn {
    font-weight: 800;
  }
  .btn-primary,
  .btn-error {
    color: white;
  }
  .btn-outline {
    &.btn-error:hover,
    &.btn-success:hover {
      color: white;
    }
  }
  .input:focus-within {
    border: none;
    outline: transparent;
    outline-offset: 0;
  }
  .menu {
    & li > a {
      &:hover {
        color: white;
        background-color: oklch(var(--n));
      }
      &:focus {
        color: white;
        background-color: oklch(var(--p));
      }
    }
  }
  .tooltip-primary {
    --tooltip-text-color: white;
  }
}

/* Calendar */

.fc {
  @apply h-[90%];

  &.fc-header-toolbar {
    display: inline-block;
    padding: 4px 4px;
    @apply space-x-8;
  }
  
  .fc-toolbar-title {
    @apply text-xl sm:text-3xl text-primary font-semibold;
  }

  .fc-col-header-cell {
    @apply bg-primary text-white font-medium text-end px-1;
  }

  .fc-day-other {
    @apply bg-neutral/10 text-base-content/50;
  }

  &.fc-day {
    @apply m-8;
  }

  &.fc-scrollgrid-sync-table {
    @apply w-full;
  }

  &.fc-view {
    @apply w-full h-full;
  }

  &.fc-h-event {
    @apply bg-primary border border-primary;
  }

  .fc-day-today {
    &.fc-daygrid-day {
      @apply bg-transparent;
    }
    
    .fc-daygrid-day-top {
      @apply flex justify-center items-center mx-1 w-8;
      
      .fc-daygrid-day-number {
        @apply text-white rounded-full bg-primary w-8 text-center;
      }
    }

    &.fc-day-other {
      @apply bg-neutral/10;
    }
  }

  .fc-button {
    @apply bg-primary hover:bg-neutral border-none;
  }

  .fc-button-primary:not(:disabled).fc-button-active {
    @apply bg-primary;
  }

  .fc-button-primary:disabled {
    @apply bg-primary/80;
  }

  &.fc-v-event {
    @apply bg-primary/90;
  }
}
